<%- include('./partials/header.ejs') %>
	<h1>Edit Your Tiny Home Model</h1>

	<form action="/tiny/<%= tiny.id %>?_method=PUT" method="POST"> 
		Type: 
		<input 
			type="text" 
			name="type" 
			value="<%= tiny.type %>"> 
		<br/>
		Bedrooms: 
		<input 
			type="number" 
			name="bedrooms"
			value="<%= tiny.bedrooms %>"> 
		<br/>
		Bathrooms: 
		<input 
			type="number" 
			name="bathrooms"
			value="<%= tiny.bathrooms %>"> 
		><br/>
		Budget: 
		<input 
			type="number" 
			name="budget"
			value="<%= tiny.budget %>"> 
		><br/>
		<input type="submit" name="Update Tiny Home" value='Update Home'/>
	</form>
<%- include('./partials/footer.ejs') %> 