<%- include('./partials/header.ejs') %>
	<h1>Edit Tiny Home Model</h1>

	<div class="editFormDiv"> 
	<form class="editForm" action="/tiny/<%= tiny.id %>?_method=PUT" method="POST"> 
		Type: 
		<input 
			type="text" 
			name="type" 
			value="<%= tiny.type %>"> 
		<br/>
		Bedrooms: 
		<input 
			type="number" 
			name="bedrooms"
			value="<%= tiny.bedrooms %>"> 
		<br/>
		Bathrooms: 
		<input 
			type="number" 
			name="bathrooms"
			value="<%= tiny.bathrooms %>"> 
		<br/>
		Budget: 
		<input 
			type="number" 
			name="budget"
			value="<%= tiny.budget %>"> 
		<br/>
		<button type="submit" class="btn btn-warning">Update Model</button>
	</form>
	</div>
<%- include('./partials/footer.ejs') %> 