<%- include('./partials/header.ejs') %>
	<h1>This is the show page for <%= tiny.type%></h1>

	<img src="<%= tiny.img%>"><br>

	<p><%= tiny.description %></p>

	<p>This house has <%=tiny.bedrooms%> beddroms and <%=tiny.bathrooms%> bathrooms.</p>


<%- include('./partials/footer.ejs') %> 